.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.board {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}